.list {
  margin: 8rem 0;
  padding: 5em;
  .title {
    margin-left: 1em;
  }
}

.poster {
  height: 10em;
  width: 10em;
}

.favourite {
  margin-left: auto;
}

$breakpoint-tablet: 520px;
@media (max-width: $breakpoint-tablet) {
  .title {
    font-size: 0.5em;
    width: 40%;
    word-wrap: break-word;
  }
}
