.list {
  margin: 8rem 0;
  .movie_title {
    margin-left: 1em;
  }
}

.poster_image {
  height: 10em;
  width: 10em;
}

.favourited {
  margin-left: auto;
}

$breakpoint-tablet: 770px;
@media (max-width: $breakpoint-tablet) {
  .movie_title {
    font-size: 1em;
    word-wrap: break-word;
  }
}
